[submodule "frontend"]
	path = frontend
	url = https://github.com/QuantumLogicsLabs/CalculusRuntime-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/QuantumLogicsLabs/CalculusRuntime-Backend.git